


.banner {
    margin-top: -10vh;
    height: 80vh;
    margin-bottom: -80px;
    color: white;
    object-fit: contain;
}

.banner_contents {
    margin-left: 30px;
    padding-top: 300px;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description {
    width: 45rem;
    line-height: 1;
    padding: 1rem 0;
    font-size: 1rem;
    max-width: 360px;
    height: 80px;
}


.banner_buttons {
    display: flex;
    gap: 30px; 
    margin-top: 20px;
}


.banner_button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
   background-color: white;
  
}
banner_button.play {
    background-color:white; 
    color: black;
}


.banner_button {
    background-color:white;
    color: black;
}


.banner_button:hover {
    background-color: #bbb8b8; 
    color: black;
}


.banner_button.play:hover {
    background-color: #bbb8b8;
    color: black;
}


.banner_button:focus {
   
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); 
}